[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
ai_health_anchor = "2NqsQ7zQ9fq8azdWe5NGTW2yrpSHhfogf7TkVavd8hDn"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/ANU1sBoytR2a8tpvMFygMXg5M6XZipyiZVwrhwUmKvQV.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
